<div class="movie-main">
    <div class="sui-container">
        <h1>{{list.title}}&nbsp;&nbsp;</h1>
        <div class="movie-images">
            <img ng-src="{{list.images.large}}" alt="">
        </div>
        <div class="movie-des">
            <p class="f-l f-14 va-m">
                评分:&nbsp;&nbsp;
                <span class="badge badge-default radius">{{list.rating.average}}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-right">出版时间：{{list.pubdate}}</span>
            </p>

            <p>价格：
                <span>{{list.price}}</span></p>
            <p>作者：
                <span ng-repeat="author in list.author">{{author}}{{$last?'':'、'}}</span>
            </p>
            <p>出版社：&nbsp;&nbsp;<span>{{list.publisher}}</span></p>
            <p>故事概述:<div>&nbsp;&nbsp;&nbsp;&nbsp;{{list.summary}}</div></p>
        </div>
        <div class="movieDetailsPage">
            <div class="sui-pagination pagination-large">
                <ul>
                    <li ng-class="{'disabled':index<0}" ng-click="prev()"><a>上一页</a></li>
                    <li ng-class="{'disabled':index>maxIndex}" ng-click="next()"><a>下一页</a></li>
                </ul>
            </div>
        </div>
        <div class="back">
            <a href="#/book/search" class="sui-btn btn-xlarge">返回</a>
        </div>
    </div>
</div>
