<ul class="commentList">
    <li class="item cl"> <a href="#"><i class="avatar size-L radius">
        <img alt="" src="../../../uploads/avatar.jpg"></i></a>
        <div class="comment-main">
            <header class="comment-header">
                <div class="comment-meta"><a class="comment-author" href="#">好气哦</a> 评论于
                    <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                </div>
            </header>
            <div class="comment-body">
                <p><a href="#">@某人</a> 我是假的评论列表</p>
            </div>
        </div>
    </li>
    <li class="item cl"> <a href="#"><i class="avatar size-L radius">
        <img alt="" src="../../../uploads/avatar.jpg"></i></a>
        <div class="comment-main">
            <header class="comment-header">
                <div class="comment-meta"><a class="comment-author" href="#">二阳</a> 评论于
                    <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                </div>
            </header>
            <div class="comment-body">
                <p><a href="#">@某人</a> 数据都是假的难看死了</p>
            </div>
        </div>
    </li>
    <li class="item cl"> <a href="#"><i class="avatar size-L radius">
        <img alt="" src="../../../uploads/avatar.jpg"></i></a>
        <div class="comment-main">
            <header class="comment-header">
                <div class="comment-meta"><a class="comment-author" href="#">禽兽</a> 评论于
                    <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                </div>
            </header>
            <div class="comment-body">
                <p><a href="#">@某人</a> 好气哦</p>
            </div>
        </div>
    </li>
    <li class="item cl"> <a href="#"><i class="avatar size-L radius">
        <img alt="" src="../../../uploads/avatar.jpg"></i></a>
        <div class="comment-main">
            <header class="comment-header">
                <div class="comment-meta"><a class="comment-author" href="#">老巫婆</a> 评论于
                    <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                </div>
            </header>
            <div class="comment-body">
                <p><a href="#">@某人</a> 绊了脑壳怎么才能好，在线等，急！</p>
            </div>
        </div>
    </li>
    <div class="back">
        <a href="#/movie/in_theaters" class="sui-btn btn-xlarge">返回</a>
    </div>
</ul>