<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="images/x-icon" href="../../uploads/favicon.ico">
    <link rel="shortcut icon" type="images/x-icon" href="uploads/favicon.ico">
    <link rel="stylesheet" href="../../public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/assets/nprogress/nprogress.css">
    <link rel="stylesheet" href="../../public/assets/zTree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../public/less/base.css">
    <link rel="stylesheet" href="../../public/less/header.css">
    <link rel="stylesheet" href="../../public/less/about.css">
</head>
<body>
<!--头部-->
<!--导航条-->
<nav class="navbar header-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../index.html"><span class="glyphicon glyphicon-cloud" style="color: #fff;font-size: 30px;"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html"><span class="glyphicon glyphicon-home" style="padding-right:5px;font-size: 20px;"></span>首页</a></li>
                <li><a href="../works/works.html"><span class="glyphicon glyphicon-book" style="padding-right:5px;font-size: 20px;"></span>个人作品<span class="sr-only">(current)</span></a></li>
                <li><a href="../blog/blog.html"><span class="glyphicon glyphicon-pencil" style="padding-right:5px;font-size: 20px;"></span>随笔分享</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="javascript:;"><span class="glyphicon glyphicon-user" style="padding-right:5px;font-size: 20px;"></span>关于我</a></li>
                <li><a href="javascript:;"><span class="glyphicon glyphicon-send" style="padding-right:5px;font-size: 20px;"></span>联系我</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>