@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0 }
body { font: 12px "microsoft yahei", "Arial Narrow", HELVETICA; color: #3F3E3C; line-height: 1.5;
    background:url("../../public/images/blog-bg.jpg") no-repeat center center; }
img { border: 0; vertical-align: middle }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font: 24px "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif }
p { word-wrap: break-word }
ul, ol { list-style: none; }
a { color: #a6a6a6; text-decoration: none; transition: All 1s ease; -webkit-transition: All 1s ease; -moz-transition: All 1s ease; -ms-transition: All 1s ease; -o-transition: All 1s ease; }
a:hover { color: #fff; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }

.main{
    width: 100%;
    padding-top: 120px;
}
.w{
    width: 80%;
    margin: 0 auto;
}
.main .main-header{
    height: 50px;
    background: linear-gradient(#eee,#ddd,#e7e7e7,#eee);
    border:1px solid #aaa;
}
.main .main-body{

}
/*边栏*/
.main .main-body .main-aside{
    height: 800px;
    background: linear-gradient(#eee,#ddd,#e7e7e7,#eee);
    border: 1px solid #aaa;
}
.main .main-body .main-aside .aside-info{
    width: 80%;
    padding:10px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}
.main-body .main-aside .aside-info img{
    width: 100%;
    padding: 15px;

    background: rgba(255,255,255,.6);
}
.main-body .main-aside .info-content i{
    color: goldenrod;
    font-size: 16px;
}
.main-body .main-aside .info-content a{
    font-size: 16px;
    color: #2aabd2;
}

/*主栏*/
.main .main-body .main-article{
    height: 800px;
    background: linear-gradient(#eee,#ddd,#e7e7e7,#eee);
    border: 1px solid #aaa;
}